.gCity {
    display: none;
    position: absolute;
    top: 22px;
    left: 0;
    width: 520px;
    background: #fff;
    border: 1px solid #dedede;
    overflow: hidden;
    z-index: 9;
    padding: 10px;
}
.prd-properties .songzhi .prd-properties-right .prd-properties-citys{
    height: 18px;
    margin-left: -6px;
}
.prd-properties .songzhi .prd-properties-right .prd-properties-city .cityShow .address-wrapper:before {
    position: absolute;
    content: '';
    left: 1px;
    height: 3px;
    background-color: #fff;
    right: 1px;
    bottom: -6px;
}
.prd-properties .songzhi .prd-properties-right .prd-properties-city .cityShow .arrow_down{
    right: -22px;
    z-index: 1000
}
.prd-properties-citys:before {
    position: absolute;
    content: '';
    left: -6px;
    top: -8px;
    border: 1px solid #fff;
    border-bottom: none;
    bottom: -5px;
    right: 0;
}
.prd-properties-citys.cityShow:before {
    border-color: #dedede;
}
.prd-properties .songzhi .prd-properties-right .prd-properties-city.cityShow .arrow_down i{
     background: url(i/arrow_up.png?__sprite) no-repeat;
}
.cityShow .gCity {
    display: block;
    margin-left: -6px;
}
.prd-properties .prd-properties-other .prd-properties-right .gCity span a {
    color: #5e5e5e;
    background: #fff;
    text-decoration: none;
}
.gCity a:hover {
    background: 0 0;
    text-decoration: none;
}
.gctSelect {
    border-bottom: 1px solid #e6e6e6;
}
.gctSelect a {
    float: left;
    border: 1px solid #fff;
    border-bottom: 1px solid #e6e6e6;
    color: #5e5e5e;
    padding: 0 0 0 10px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    bottom: -1px;
}
.gctSelect a.cur {
    border-color: #e6e6e6;
    border-bottom: 1px solid #fff;
    color: red;
}
.gctSelect a b, .gctSelect a i {
    font-weight: 400;
    float: left;
}
.gctSelect a i {
    width: 10px;
    height: 6px;
    display: inline-block;
    overflow: hidden;
    background: url(i/arrow_down.png?__sprite) no-repeat;
    margin: 9px 5px 0;
    -webkit-transition: all .2s ease-in .1s;
    -moz-transition: all .2s ease-in .1s;
    -ms-transition: all .2s ease-in .1s;
    -o-transition: all .2s ease-in .1s;
    transition: all .2s ease-in .1s;
}

.gctSelect a.cur i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.gctSelect a.cur i {
    background: url(i/arrow_red.png?__sprite) no-repeat;
}
.gctSelect a.close {
    width: 12px;
    height: 12px;
    float: right;
    background: url(i/cha1.png?__sprite) no-repeat;
    padding: 0;
    border: 0;
}
.gctSelect a.close:hover {
   background: url(i/cha1.png?__sprite) no-repeat;
}
.gctBox {
    width: 100%;
    margin: 8px 0 0;
    line-height: 50px;
    text-align: center;
    color: #ccc;
}
.gctBox span {
    width: 95px;
    height: 26px;
    line-height: 26px;
    padding-left: 8px;
    float: left;
    overflow: hidden;
    text-align: left;
}
.gctBox a {
    line-height: 26px;
    padding: 3px 5px;
    margin:0 !important;
    display: block;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}