.c-i.cart-empty { 
	width: 71px;
	height: 54px;
	background-image: url(sprite.png);
	background-position: -0px -0px;
}
.c-i.payment-success-ok { 
	width: 50px;
	height: 50px;
	background-image: url(sprite.png);
	background-position: -71px -0px;
}
.c-i.coupon-pre-expire { 
	width: 49px;
	height: 49px;
	background-image: url(sprite.png);
	background-position: -121px -0px;
}
.c-i.coupon-expire { 
	width: 49px;
	height: 49px;
	background-image: url(sprite.png);
	background-position: -170px -0px;
}
.c-i.coupon-pre-expire-gray { 
	width: 49px;
	height: 49px;
	background-image: url(sprite.png);
	background-position: -219px -0px;
}
.c-i.card-entity { 
	width: 48px;
	height: 47px;
	background-image: url(sprite.png);
	background-position: -268px -0px;
}
.c-i.card-ele { 
	width: 48px;
	height: 47px;
	background-image: url(sprite.png);
	background-position: -316px -0px;
}
.c-i.order_success { 
	width: 44px;
	height: 44px;
	background-image: url(sprite.png);
	background-position: -364px -0px;
}
.c-i.order_waring { 
	width: 40px;
	height: 40px;
	background-image: url(sprite.png);
	background-position: -408px -0px;
}
.c-i.panel-error { 
	width: 39px;
	height: 39px;
	background-image: url(sprite.png);
	background-position: -408px -40px;
}
.c-i.panel-success { 
	width: 39px;
	height: 39px;
	background-image: url(sprite.png);
	background-position: -447px -40px;
}
.c-i.panel-warn { 
	width: 39px;
	height: 39px;
	background-image: url(sprite.png);
	background-position: -448px -0px;
}
.c-i.f-similar-left { 
	width: 14px;
	height: 35px;
	background-image: url(sprite.png);
	background-position: -364px -44px;
}
.c-i.f-similar-right { 
	width: 14px;
	height: 35px;
	background-image: url(sprite.png);
	background-position: -378px -44px;
}
.c-i.add-cart-success { 
	width: 32px;
	height: 32px;
	background-image: url(sprite.png);
	background-position: -121px -49px;
}
.c-i.cart-coupon-trigger-icon { 
	width: 85px;
	height: 29px;
	background-image: url(sprite.png);
	background-position: -153px -49px;
}
.c-i.cart-coupon-trigger2 { 
	width: 71px;
	height: 28px;
	background-image: url(sprite.png);
	background-position: -238px -49px;
}
.c-i.add-cart-error { 
	width: 22px;
	height: 22px;
	background-image: url(sprite.png);
	background-position: -0px -54px;
}
.c-i.add-cart-correct { 
	width: 22px;
	height: 22px;
	background-image: url(sprite.png);
	background-position: -22px -54px;
}
.c-i.calender_icon { 
	width: 21px;
	height: 20px;
	background-image: url(sprite.png);
	background-position: -44px -54px;
}
.c-i.card-select { 
	width: 20px;
	height: 20px;
	background-image: url(sprite.png);
	background-position: -65px -54px;
}
.c-i.ecard-refresh { 
	width: 20px;
	height: 20px;
	background-image: url(sprite.png);
	background-position: -85px -50px;
}
.c-i.c-kf-off { 
	width: 20px;
	height: 19px;
	background-image: url(sprite.png);
	background-position: -309px -47px;
}
.c-i.c-kf-on { 
	width: 20px;
	height: 19px;
	background-image: url(sprite.png);
	background-position: -329px -47px;
}
.c-i.jx-phone { 
	width: 12px;
	height: 19px;
	background-image: url(sprite.png);
	background-position: -105px -50px;
}
.c-i.arrow-left { 
	width: 13px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -349px -47px;
}
.c-i.bottom-good-l-hover { 
	width: 14px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -392px -44px;
}
.c-i.arrow-right-over { 
	width: 13px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -392px -62px;
}
.c-i.bottom-good-l { 
	width: 14px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -486px -39px;
}
.c-i.arrow-left-over { 
	width: 13px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -486px -57px;
}
.c-i.logo_icon { 
	width: 29px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -487px -0px;
}
.c-i.bottom-good-r-hover { 
	width: 14px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -487px -18px;
}
.c-i.bottom-good-r { 
	width: 14px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -499px -57px;
}
.c-i.coupon-select { 
	width: 19px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -500px -36px;
}
.c-i.arrow-right { 
	width: 13px;
	height: 18px;
	background-image: url(sprite.png);
	background-position: -501px -18px;
}
.c-i.warning { 
	width: 17px;
	height: 17px;
	background-image: url(sprite.png);
	background-position: -513px -54px;
}
.c-i.seven { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -514px -18px;
}
.c-i.server-edit { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -516px -0px;
}
.c-i.self { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -519px -34px;
}
.c-i.pszt { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -530px -16px;
}
.c-i.pay { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -530px -50px;
}
.c-i.warrantysb { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -532px -0px;
}
.c-i.cd-tip { 
	width: 18px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -535px -32px;
}
.c-i.notice_orange { 
	width: 18px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -546px -16px;
}
.c-i.notice_gray { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -546px -48px;
}
.c-i.noextend { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -546px -64px;
}
.c-i.meidian { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -548px -0px;
}
.c-i.close { 
	width: 15px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -349px -65px;
}
.c-i.mdzt { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -553px -32px;
}
.c-i.time_limit { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -562px -48px;
}
.c-i.warrantycu { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -562px -64px;
}
.c-i.jx-add-err { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -564px -0px;
}
.c-i.hwg { 
	width: 56px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -564px -16px;
}
.c-i.freight { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -569px -32px;
}
.c-i.extend_icon { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -578px -48px;
}
.c-i.warrantyac { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -578px -64px;
}
.c-i.cu { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -580px -0px;
}
.c-i.time { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -585px -32px;
}
.c-i.seven_no { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -594px -48px;
}
.c-i.warranty { 
	width: 16px;
	height: 16px;
	background-image: url(sprite.png);
	background-position: -594px -64px;
}
.c-i.prop-down { 
	width: 15px;
	height: 15px;
	background-image: url(sprite.png);
	background-position: -309px -66px;
}
.c-i.prop-up { 
	width: 15px;
	height: 15px;
	background-image: url(sprite.png);
	background-position: -324px -66px;
}
.c-i.open { 
	width: 15px;
	height: 15px;
	background-image: url(sprite.png);
	background-position: -530px -66px;
}
.c-i.cartsuc_red { 
	width: 18px;
	height: 15px;
	background-image: url(sprite.png);
	background-position: -596px -0px;
}
.c-i.tips_icon-hover { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -601px -32px;
}
.c-i.tips { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -610px -46px;
}
.c-i.radio_chose { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -610px -60px;
}
.c-i.radio { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -614px -0px;
}
.c-i.cartsuc_gray { 
	width: 18px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -615px -32px;
}
.c-i.cartsuc_white { 
	width: 18px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -620px -14px;
}
.c-i.attention { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -624px -46px;
}
.c-i.payment_check_icon { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -624px -60px;
}
.c-i.correct { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -628px -0px;
}
.c-i.tips_orange_icon { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -633px -28px;
}
.c-i.jx-pc { 
	width: 18px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -638px -14px;
}
.c-i.chose_icon { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -638px -42px;
}
.c-i.tips_icon { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -638px -56px;
}
.c-i.checkbox_chose { 
	width: 14px;
	height: 14px;
	background-image: url(sprite.png);
	background-position: -642px -0px;
}
.c-i.jx-add { 
	width: 13px;
	height: 13px;
	background-image: url(sprite.png);
	background-position: -647px -28px;
}
.c-i.arrowRight-white { 
	width: 12px;
	height: 13px;
	background-image: url(sprite.png);
	background-position: -652px -41px;
}
.c-i.closebtn-new { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -105px -69px;
}
.c-i.closebtn-hover { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -652px -54px;
}
.c-i.arrow-left-fine { 
	width: 7px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -339px -66px;
}
.c-i.arrow-right-fine { 
	width: 7px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -652px -66px;
}
.c-i.addicon { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -656px -0px;
}
.c-i.checkbox_gray { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -656px -12px;
}
.c-i.phone_icon { 
	width: 11px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -659px -66px;
}
.c-i.checkboxs { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -660px -24px;
}
.c-i.notice_red { 
	width: 17px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -664px -36px;
}
.c-i.no_check { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -664px -48px;
}
.c-i.gray_checkbox_chose { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -668px -0px;
}
.c-i.closebtn { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -668px -12px;
}
.c-i.add_icon-red { 
	width: 12px;
	height: 12px;
	background-image: url(sprite.png);
	background-position: -670px -60px;
}
.c-i.arrowleft_yellow { 
	width: 6px;
	height: 11px;
	background-image: url(sprite.png);
	background-position: -85px -70px;
}
.c-i.add { 
	width: 10px;
	height: 10px;
	background-image: url(sprite.png);
	background-position: -91px -70px;
}
.c-i.arrowup_gray { 
	width: 14px;
	height: 8px;
	background-image: url(sprite.png);
	background-position: -513px -71px;
}
.c-i.arrowdown_gray { 
	width: 14px;
	height: 8px;
	background-image: url(sprite.png);
	background-position: -638px -70px;
}
.c-i.fd-icon { 
	width: 7px;
	height: 7px;
	background-image: url(sprite.png);
	background-position: -44px -74px;
}
.c-i.arrowup { 
	width: 11px;
	height: 7px;
	background-image: url(sprite.png);
	background-position: -51px -74px;
}
.c-i.more-icon { 
	width: 7px;
	height: 7px;
	background-image: url(sprite.png);
	background-position: -62px -74px;
}
.c-i.dot { 
	width: 7px;
	height: 7px;
	background-image: url(sprite.png);
	background-position: -69px -74px;
}
.c-i.dotgrey { 
	width: 7px;
	height: 7px;
	background-image: url(sprite.png);
	background-position: -76px -74px;
}
.c-i.select_arrowup { 
	width: 11px;
	height: 7px;
	background-image: url(sprite.png);
	background-position: -610px -74px;
}
.c-i.coupon-border-select { 
	width: 220px;
	height: 7px;
	background-image: url(sprite.png);
	background-position: -670px -72px;
}
.c-i.arrowdown_red { 
	width: 9px;
	height: 6px;
	background-image: url(sprite.png);
	background-position: -486px -75px;
}
.c-i.arrowdown { 
	width: 9px;
	height: 6px;
	background-image: url(sprite.png);
	background-position: -495px -75px;
}
.c-i.arrowup2 { 
	width: 9px;
	height: 6px;
	background-image: url(sprite.png);
	background-position: -504px -75px;
}
.c-i.more_arrow_down { 
	width: 9px;
	height: 6px;
	background-image: url(sprite.png);
	background-position: -621px -74px;
}
.c-i.arrowdown_white { 
	width: 12px;
	height: 6px;
	background-image: url(sprite.png);
	background-position: -672px -24px;
}
.c-i.arrowup_red { 
	width: 9px;
	height: 6px;
	background-image: url(sprite.png);
	background-position: -672px -30px;
}
.c-i.bottom-arrow { 
	width: 12px;
	height: 6px;
	background-image: url(sprite.png);
	background-position: -676px -48px;
}
.c-i.down { 
	width: 11px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -0px -76px;
}
.c-i.coupon-border-gou { 
	width: 220px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -676px -54px;
}
.c-i.coupon-border-offline { 
	width: 220px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -680px -0px;
}
.c-i.coupon-border-red { 
	width: 220px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -680px -5px;
}
.c-i.triangle_icon2 { 
	width: 4px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -11px -76px;
}
.c-i.up { 
	width: 11px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -15px -76px;
}
.c-i.coupon-border-fee { 
	width: 220px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -680px -10px;
}
.c-i.coupon-border-dis { 
	width: 220px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -680px -15px;
}
.c-i.coupon-border-blue { 
	width: 220px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -681px -30px;
}
.c-i.coupon-border-shop { 
	width: 220px;
	height: 5px;
	background-image: url(sprite.png);
	background-position: -681px -35px;
}
.c-i.arrow-bottom { 
	width: 7px;
	height: 4px;
	background-image: url(sprite.png);
	background-position: -26px -76px;
}
.c-i.triangle_icon { 
	width: 5px;
	height: 4px;
	background-image: url(sprite.png);
	background-position: -33px -76px;
}
.c-i.arrow-top { 
	width: 7px;
	height: 4px;
	background-image: url(sprite.png);
	background-position: -71px -50px;
}
